body,html {
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Lora', serif;
  //font-family: 'Roboto Slab', serif;
  //font-family: 'Karla', sans-serif;
  overflow: hidden;
  //font-size: 100%;
//  line-height: 100%;
  width: 100%;
  height: 30000px;
}

p {
  font: 400 14px/28px 'Open Sans', sans-serif;
  color: #585858;
}

a {
  font: 600 14px/24px 'Open Sans', sans-serif;
  color: #60717e;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1,h2,h3,h4,h5,a {
  text-transform: uppercase;
}

h1 {
  font: 900 30px/1 'Raleway', sans-serif;
  color: #1c1c1c;
}

h2 {
  font: 800 24px/1 'Raleway', sans-serif;
  color: #ffffff;
}

h3{
  font: 700 22px/24px 'Open Sans', sans-serif;
  color: #414950;
}

h4 {
  font: 800 16px/24px 'Raleway', sans-serif;
  color: #1c1c1c;
}

h5 {
  font: 800 14px/24px 'Raleway', sans-serif;
}

h6 {
  font: italic 400 16px/30px 'Lora', serif;
  color: #1c1c1c;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

.call-us {
  font: 600 11px/24px 'Open Sans', sans-serif;
  color: #96a2ac;
  text-transform: uppercase;
}

.button {
  font: 500 13px/24px 'Raleway', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  width: 126px;
  height: 43px;
  background: #0e111a;
}

