.banner{
  position: relative;
  width: 100%;
  margin-bottom: 85px;
  @include breakpoint(1024px down){
    margin-bottom: 10px;
  }
  .banner-img{
    height: 100%;
    position: relative;

  }
  .banner-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    @include breakpoint(1024px down){
      position: relative;
    }
    .banner-content {
      width: 100%;
      height: 100%;
      .we-are {
        display: inline-block;
        text-align: center;
        width: 40%;
        max-height: 45px;
        background: #ffaf36;
        padding: 10px 5px;
        h5{
          color:#ffffff;
        }
      }
      .wrapper-welcome{
        position: relative;
        .welcome {
          width: 100%;
          background: #36a8ff;
          .welcome-content{
            padding: 9.82% 13.1% 11.52% 6.55%;
            h2{
              padding-bottom:14px;
            }
            p{
              color:#ffffff;
            }
          }
        }
        .button{
          position: absolute;
          transform: translateY(-100%);
          right: -75px;
          @include breakpoint(1024px down){
            transform: translateY(-100%);
            right:0;
          }
          a{
            color:#ffffff;
          }
        }
      }
    }
  }
}



















