.header-background {
  position: relative;
  background: #eaeff3;
  width: 100%;
  min-height: 46px;
  margin-bottom: 15px;
  .menu {
    position: relative;
    width: 100%;
    min-height: 46px;
    height: inherit;
    ul{
      @include breakpoint(1024px down){
        position: absolute;
        min-width:100px ;
        bottom: 0;
        left:0;
        background:#eaeff3;
        &.click-off{
          display: none;
        }
        &.click-on{
          transform: translateY(100%);
          z-index:1;
        }
        li{
          display: block;
          text-align: center;
          .li-border{
            display: none;
          }
        }
      }
    }
    .row{
      min-height: 46px;
      height: inherit;
      .burger-button{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 46px;
        min-width: 46px;
        position: relative;
        z-index: 2;
        background: #36a8ff;
        color:#ffffff;
        @include breakpoint(1025px up){
          display:none;
        }
        &:before{
          content:"\f0c9";
          font:700 24px/1 'FontAwesome';
        }
      }
      li{
        position: relative;
        padding-right: 5%;
        a{
          position: relative;
          z-index: 1;
        }
        &:first-child{
          a {
            color:#171b1f;
          }
        }
        .li-border{
          position: absolute;
          width: 1px;
          height: 46px;
          background: #dde4ea;
          top:-11px;
          left: -20%;
        }
      }
    }
  }
  .sign{
    position: absolute;
    width: 100%;
    min-height: 46px;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #dde4ea;
    .flex-wrapper{
      display: flex;
      width: 100%;
      height: inherit;
      .hole{
        width: 1390px;
        flex: 10 6 auto;
        min-height: 46px;
        height: inherit;
      }
      .icon{
        width: 580px;
        min-width: 180px;
        background: #36a8ff;
        flex: 4 0 29.44%;
        min-height: 46px;
        height: inherit;
        .icon-key {
          padding-left: 50px;
          position: relative;
          a{color: #ffffff;}
          &:before {
            font-family: 'simple-line-icons', inherit;
            position: absolute;
            left: 25px;
            top: 5px;
            content: "\e08c";
            font-weight: 600;
            color:#ffffff;
          }
        }
      }
    }
  }
}
.header-contact {
  margin-bottom: 15px;
  .logo {
    padding-bottom: 4px;
    @include breakpoint(1024px down){
    text-align: right;
    }
    .box {
      display: inline-block;
      position: relative;
      .fa {
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'FontAwesome', inherit;
        font-size: 65%;
        color: #ffaf36;
        font-weight: 100;
      }
      .logo-style {
        color: #414950;
        position: relative;
        padding-top: 15px;
        font-size: 22px;
        span {
          color: inherit;
          font-weight: 300;
          font-size: 22px;
        }
      }
      &.wrapper-logo{
      @include breakpoint(640px down){
        display: none;
      }
    }
    }
  }
  .contact-us {
    padding:0 0 4px 0;
    .box {
      display: inline-block;
      text-align: justify;
      position: relative;
      transform:scale(0.9);
      @include breakpoint(640px down){
        transform:scale(0.82);
      }
      h3 {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        text-transform: lowercase;
        position: relative;
        white-space: nowrap;
        line-height: 13px;
        &:first-child {
          font: 600 11px/24px 'Open Sans', sans-serif;
          color: #96a2ac;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }
      }
      &.wrapper-logo{
       display: none;
        @include breakpoint(640px down){
        display: inline-block;
          .fa {
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'FontAwesome', inherit;
            font-size: 65%;
            color: #ffaf36;
            font-weight: 100;
          }
          .logo-style {
            color: #414950;
            position: relative;
            padding-top: 15px;
            font-size: 22px;
            span {
              color: inherit;
              font-weight: 300;
              font-size: 22px;
            }
          }
        }
      }
    }
    .call-us-today{
      h3{
        padding-left: 30px;
      }
      .fa{
        position: absolute;
        left:0;
        top:0;
        font-size: 280%;
        color:#ffaf36;
      }
    }
    .mail-us-today{
      padding-left: 46px;
      @include breakpoint(1170px down){
        padding-left: 0;
        margin-left: -10px;
      }
      @include breakpoint(500px down){
          margin-left: -15px;
      }
      h3 {
          padding-left: 40px;
      }
      .icon-envelope-letter{
          position: absolute;
          bottom:-10%;
          transform: translateX(-10%);
          font-size: 190%;
          color:#ffaf36;
      }
      .gray-border{
          position: absolute;
          width: 1px;
          top:-15px;
          left:0;
          min-height: 80px;
          background: #dde4ea;
          @include breakpoint(1170px down){
            display:none;
          }
      }
    }
  }
}













