.header-variant {
  position: relative;
  background: #eaeff3;
  width: 100%;
  min-height: 46px;
  margin-bottom: 20px;
  .menu {
    position: relative;
    width: 100%;
    min-height: 46px;
    height: inherit;
    ul{
      @include breakpoint(1024px down){
        position: absolute;
        min-width:90px ;
        bottom: 0;
        left:0;
        background:#eaeff3;
        transition:all ease-in-out 0.2s;
        &.click-off{
          display: none;
        }
        &.click-on{
          transform: translateY(100%);
          z-index:1;
        }
        li{
          display: block;
          text-align: center;
        }
      }
    }
    .row{
      min-height: 46px;
      height: inherit;
      .burger-button{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 46px;
        min-width: 46px;
        position: relative;
        z-index: 2;
        background: #36a8ff;
        color:#ffffff;
        @include breakpoint(1025px up){
          display:none;
        }
        &:before{
          content:"\f0c9";
          font:700 24px/1 'FontAwesome';
        }
      }
      li{
        position: relative;
        padding-right: 5%;
        &:first-child{
          a {
            color:#171b1f;
          }
        }
        .li-border{
          position: absolute;
          width: 1px;
          height: 46px;
          background: #dde4ea;
          top:-11px;
          left: -20%;
        }
      }
    }
  }
  .sign{
    position: absolute;
    width: 100%;
    min-height: 46px;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #dde4ea;
    .flex-wrapper{
      display: flex;
      width: 100%;
      height: inherit;
      .hole{
        width: 1390px;
        flex: 10 6 auto;
        min-height: 46px;
        height: inherit;
      }
      .icon{
        width: 580px;
        min-width: 180px;
        background: #36a8ff;
        flex: 4 0 29.44%;
        min-height: 46px;
        height: inherit;
        .icon-key {
          padding-left: 50px;
          position: relative;
          a{color: #ffffff;}
          &:before {
            font-family: 'simple-line-icons', inherit;
            position: absolute;
            left: 25px;
            top: 5px;
            content: "\e08c";
            font-weight: 600;
            color:#ffffff;
          }
        }
      }
    }
  }
}
.contact {
  margin-bottom: 17px;
  .logo {
    padding-bottom: 4px;
    .fa {
      position: absolute;
      left: 0;
      top: 0;
      font-family: 'FontAwesome', inherit;
      font-size: 65%;
      color: #ffaf36;
      font-weight: 100;
    }
    .logo-style {
      color: #414950;
      position: relative;
      padding-top: 15px;
      font-size: 22px;
      span {
        color: inherit;
        font-weight: 300;
        font-size: 22px;
      }
    }
  }
  .call-us-today,
  .mail-us-today {
    padding-bottom: 4px;
    .box {
      position: relative;
      width: 100%;
      height: 100%;
      h3 {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        text-transform: lowercase;
        position: relative;
        padding-left: 20%;
        white-space: nowrap;
        // font-stretch: condensed;
        line-height: 13px;
        // transform:scaleX(0.9);
        &:first-child {
          font: 600 11px/24px 'Open Sans', sans-serif;
          color: #96a2ac;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }
      }


    }
  }
  .call-us-today{
    .box{
      .fa{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0%;
        top:0%;
        font-size: 300%;
        color:#ffaf36;
      }
    }
  }
  .mail-us-today{
    .box{
      h3{
        padding-left: 35%;
      }
      .icon-envelope-letter{
        position: absolute;
        width: 100%;
        height: 100%;
        left:16%;
        top:20%;
        font-size: 200%;
        color:#ffaf36;
      }
      .gray-border{
        position: absolute;
        width: 1px;
        top:-20px;
        left:8%;
        min-height: 80px;
        background: #dde4ea;
      }
    }
  }
}














